{{!< default}}

<div class="home">
    <div class="intro-container">
        <span class="site-title">
          {{@site.title}}
        </span>
        <span>
          {{@site.description}}
        </span>
    </div>
</div>
