<!DOCTYPE html>
<html lang="{{@site.lang}}">
{{> "meta"}}
<body class="{{body_class}}">

   <div class="intro-wrapper">
       <div class="intro-container">
           <span class="site-title">
               Sam Hatem
           </span>
       </div>
   </div>

   <div class="nav-container">
       {{navigation}}
   </div>

   {{> "footer"}}

</body>
</html>
